<%= render "shared/header" %>

<div>
  <div>
    <h3><%= "#{@user.nickname}さん" %></h3>
  </div>
    <p><%= render "relationships/follow", user: @user %></p>
  <div>
    <h3>投稿したもの</h3>
  </div>

  <ul>
    <% @posts.each do |post| %>
      <li>
        <p>
          <%= post.title %>
        </P>
          <%= link_to post_path(post.id), method: :get do %>
            <%= image_tag post.images[0].variant(resize: '500x500'), class: "images" %>
          <% end %>
          <%= post.created_at %>
      </li>
    <% end %>
  </ul>

  <p>
  <h3>お気に入り</h3>
  </p>

  <% if @favorite_posts.present? %>
    <ul>
      <% @favorite_posts.each do |post| %>
        <li>
          <p>
            <%= post.title %>
          </P>
            <%= link_to post_path(post.id), method: :get do %>
              <%= image_tag post.images[0].variant(resize: '500x500'), class: "images" %>
            <% end %>
            <%= post.created_at %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render "shared/footer" %>