<%= render "shared/header" %>

<div>
  <div>
    <h3><%= 'ユーザー名' %></h3>
  </div>
  <div>
    <h3>投稿したもの</h3>
  </div>

  <ul>
      <li><%= link_to 'スライド1', "#" %></li>
      <li><%= link_to 'スライド2', "#" %></li>
      <li><%= link_to 'スライド3', "#" %></li>
  </ul>
</div>

<%= render "shared/footer" %>