<%= render "shared/header" %>

<div>
  <h2>編集内容を入力</h2>
  <%= form_with model: @post, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <%# 投稿画像 %>
  <div>
    <div>
      画像
      <span>必須</span>
    </div>
    <%# <div> %>
      <%= f.file_field :image, id:"post-image" %>
    <%# </div> %>

    <%# 画像をプレビュー表示する場所 %>
    <div id="image-list"></div>
    <%# /画像をプレビュー表示する場所 %>
  </div>
  <%# /投稿画像 %>

  <%# タイトル %>
  <div>
    <div>
      タイトル名
      <span>必須</span>
    </div>
    <%= f.text_area :title %>
  </div>
  <%# /タイトル %>

  <%# カテゴリー %>
  <div>
    <div>
      カテゴリー
      <span>必須</span>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>
  </div>
  <%# /カテゴリー %>

  <%# 下部ボタン %>
  <div class="sell-btn-contents">
    <%= f.submit "編集する", class:"sell-btn" %>
    <%= link_to 'もどる', post_path(@post.id), class:"back-btn" %>
  </div>
  <%# /下部ボタン %>

  <% end %>
</div>

<%= render "shared/footer" %>