<%= render "shared/header" %>

<div>
  <form class="search-form" action="#">
    <input class='input-box' placeholder='投稿を検索する'>
    <button class="search-button">
      <%= image_tag "search.png", class:"search-icon" %>
    </button>
  </form>

  <div>ジャンル選択</div>
    <ul>
      <li><%= link_to '教育', "#" %></li>
      <li><%= link_to '美容', "#" %></li>
      <li><%= link_to 'ファッション', "#" %></li>
      <li><%= link_to 'デザイン', "#" %></li>
      <li><%= link_to '本', "#" %></li>
      <li><%= link_to 'お金', "#" %></li>
      <li><%= link_to '食べ物', "#" %></li>
      <li><%= link_to 'ビジネス', "#" %></li>
      <li><%= link_to 'その他', "#" %></li>
    </ul>

  <div>
    <h1>投稿一覧</h1>
  </div>

    <ul>
      <% @posts.each do |post| %>
        <li>
          <div>
            <h3><%= post.title %></h3>
          </div>
          <div>
              <div>
                <%= image_tag post.image.variant(resize: '500x500'), class: "post-img" if post.image.attached? %>
              </div>
          </div>
          <div>
            <h3><%= post.created_at %></h3>
          </div>
          <%# end %>
        </li>
      <% end %>
    </ul>

</div>

<%= render "shared/footer" %>

