<h1>
  検索結果
</h1>



<% if @results.length !=0 %>
  <% @results.each do |result| %>
  <ul>
    <li>
      <%= result.title %>
      <%= link_to post_path(post.id), method: :get do %>
        <%= image_tag result.image.variant(resize: '500x500'), class: "post-img" if post.image.attached? %>
      <% end %>
      <%= result.created_at %>
      <%= result.category.name %>
    </li>
  </ul>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>

<%= link_to 'トップページへ戻る', root_path %>