<%= render "shared/header" %>

<div>
  <div>
    <h3><%= @post.title %></h3>
  </div>
  <div>
    <h3><%= link_to @post.user.nickname, "#" %></h3>
  </div>

  <div>
    <p><%= image_tag @post.image.variant(resize: '500x500') %></p>
  </div>

  <div>
    <div>
      <span>1 2 3 4 5</span>
    </div>
  </div>

  <div class="links">
    <a href="#"><%= @post.category.name %>をもっと見る</a>
  </div>
</div>

<%= render "shared/footer" %>
