<%= render "shared/header" %>

<div class='contents'>
  <div class="links">
    <a href="#"><%= @post.category.name %></a>
  </div>

  <div class='post-lists'>
  
      <ul class='lists-left'>
        <li class='list-left'>
          <div class='post-title'>
            <h3><%= @post.title %></h3>
          </div>

          <div class='post-img-content'>
            <% @post.images.each do |image| %>
              <%= image_tag image.variant(resize: '500x500'), class: "images" %>
            <% end %>
          </div>

          <div>
            <div>
              <span>1 2 3 4 5</span>
            </div>
          </div>
        </li>
      </ul>


      <ul class='lists-right'>
        <li class='list-right'>
          <div  class='user-nickname'>
            <%= link_to @post.user.nickname, user_path(@post.user.id) %>
          </div>

        <% if user_signed_in? %>
          <% if current_user.id == @post.user_id %>
            <%= link_to "編集", edit_post_path(@post.id), method: :get, class: "post-red-btn" %>
            <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-destroy" %>

          <%# else %>
            <%# render "favorites/favorite", post: @post %>
            <%# render "relationships/follow", user: @user %>
            <%# render "relationships/follow", user: @post.user.id%>
          <% end %>
        <% end %>

        </li>
      </ul>

  </div>
</div>

<%= render "shared/footer" %>
