<%= render "shared/header" %>

<div>
  <div>
    <h3><%= 'タイトル' %></h3>
  </div>
  <div>
    <h3><%= link_to 'ユーザー名', "#" %></h3>
  </div>

  <div>
    <p><%= "スライド" %></p>
  </div>

  <div>
    <div>
      <span>1 2 3 4 5</span>
    </div>
  </div>

  <div class="links">
    <a href="#"><%= 'カテゴリー' %>をもっと見る</a>
  </div>
</div>

<%= render "shared/footer" %>
