<p>カテゴリそれぞれ</p>

<%= @category.name %>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div>
      <h3><%= post.title %></h3>
    </div>
    <div>
      <%= link_to post_path(post.id), method: :get do %>
        <div>
          <%= image_tag post.images[0].variant(resize: '500x500'), class: "images" %>
        </div>
      <% end %>
    </div>
    <div>
      <h3><%= post.created_at %></h3>
    </div>
  <% end %>
<% else %>
  対象カテゴリの投稿はありません
<% end %>

<p>その他カテゴリ</p>
<% @categories.each do |category| %>
  <% if @category.name != category.name && category.name != '--'%>
    <li><%= link_to "#{category.name}", category_path(category.id) %></li>
  <% end %>
<% end %>
